ProyectoG2/nbproject/private/private.xml
ProyectoG2/nbproject/private/private.properties
ProyectoG2/build/classes/proyectog2/ProyectoG2.class
ProyectoG2/build/classes/.netbeans_update_resources
ProyectoG2/build/classes/.netbeans_automatic_build
ProyectoG2/nbproject/private/private.xml
ProyectoG2/nbproject/private/private.properties
ProyectoG2/.DS_Store
gitignore
.DS_Store
.DS_Store
ProyectoG2/nbproject/private/private.xml
